<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Productos</title>
</head>

<body class="body">
    <div class"">
        <nav class="nav-wraper grey darken-3">
            <div class="container">
                <img class="responsive-img logo hide-on-med-and-down" src="../assets/img/logo_kalo.PNG">
                <a href="" class="brand-logo">ROPA Y TENDENCIA</a>
                <a href="" class="sidenav-trigger" data-target="mobile-links"><i class="material-icons">menu</i></a>
                <!-- Dropdown Structure -->
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="">Iniciar Sesión</a></li>
                    <li class="divider"></li>
                    <li><a href="">Crear Cuenta</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="./index.html">Inicio</a></li>
                    <li><a href="./products.html">Productos</a></li>
                    <li><a href="./aboutus.html">Nosotros</a></li>
                    <li><a href="./login.html">Iniciar Sesión</a></li>
                    <li><a href=""><i class="medium material-icons align-wrapper center-align">account_circle</i></a>
                    <!-- Dropdown Trigger -->
                    <!-- <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Ingresa<i class="material-icons right">arrow_drop_down</i></a></li> -->
                    </li>
                </ul>


                <!--Mobile Menu -->
                <ul class="sidenav teal darken-1" id="mobile-links">
                    <li><a href="./index.html" class="white-text">Inicio</a></li>
                    <li><a href="" class="white-text">Productos</a></li>
                    <li><a href="./aboutus.html" class="white-text">Nosotros</a></li>
                    <li><a href="./login.html">Iniciar Sesión</a></li>
                    <li><a href=""><i class="large material-icons white-text text-accent-2">account_circle</i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <main class="container">
        <h2 class="center-align">Productos</h2>
        <div class="row">
            <div class="col m4 s12">
                <div class="card">
                    <div class="card-image">
                        <img class="card__image" src="../assets/img/pendientes.jpg" alt="Pendientes">
                        <span class="card-title">Pendientes</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolore, omnis officia
                            voluptatibus ab facilis facere</p>
                    </div>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="card">
                    <div class="card-image">
                        <img class="card__image" src="../assets/img/pendientes.jpg" alt="Pendientes">
                        <span class="card-title">Pendientes</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolore, omnis officia
                            voluptatibus ab facilis facere</p>
                    </div>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="card">
                    <div class="card-image">
                        <img class="card__image" src="../assets/img/pendientes.jpg" alt="Pendientes">
                        <span class="card-title">Pendientes</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolore, omnis officia
                            voluptatibus ab facilis facere</p>
                    </div>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/img/pendientes.jpg" alt="Pendientes" class="card__image">
                        <span class="card-title">Pendientes</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolore, omnis officia
                            voluptatibus ab facilis facere</p>
                    </div>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/img/pendientes.jpg" alt="Pendientes" class="card__image">
                        <span class="card-title">Pendientes</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolore, omnis officia
                            voluptatibus ab facilis facere</p>
                    </div>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/img/pendientes.jpg" alt="Pendientes" class="card__image">
                        <span class="card-title">Pendientes</span>
                    </div>
                    <div class="card-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolore, omnis officia
                            voluptatibus ab facilis facere</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

<script src="../js/materialize.min.js"></script>
<script src="../js/script.js"></script>

</html>